xformers==0.0.16
git+https://github.com/openai/point-e.git
# git+https://github.com/YixunLiang/simple-knn
# git+https://github.com/YixunLiang/diff-gaussian-rasterization.git
git+https://github.com/graphdeco-inria/diff-gaussian-rasterization.git